/* Manrope */
.manrope {
  font-family: 'Manrope', sans-serif;
}

/* Inter */
.inter {
  font-family: 'Inter', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: inherit;
}

/* Style untuk header */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}

header .header-wrapper {
  width: 100%;
  max-width: 966px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

header .header-wrapper a .logo {
  width: 164px;
  aspect-ratio: 125/28;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .header-wrapper nav {
  display: flex;
  align-items: center;
  gap: 36px;
  font-size: 16px;
  font-weight: 600;
}

header .header-wrapper nav a:hover {
  color: #4a2632;
}

/* Style untuk footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e6e6e6;
}

footer .footer-wrapper {
  width: 100%;
  max-width: 966px;
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
  gap: 64px;
}

footer .footer-wrapper .logo {
  width: 224px;
  min-width: 150px;
  width: 164px;
  aspect-ratio: 125/28;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer .footer-wrapper .customer-info {
  display: flex;
  gap: 46px;
}

footer .footer-wrapper .customer-info .customer-center {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .footer-wrapper .customer-info .customer-center .title {
  font-size: 18px;
  font-weight: 700;
  color: #4a2632;
}
footer .footer-wrapper .customer-info .customer-center .desc {
  font-size: 14px;
  color: #a08986;
}

footer .footer-wrapper .customer-info .customer-complain {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .footer-wrapper .customer-info .customer-complain .title {
  font-size: 18px;
  font-weight: 700;
  color: #4a2632;
}
footer .footer-wrapper .customer-info .customer-complain .desc {
  font-size: 14px;
  color: #a08986;
}
